%h1 Users
%hr

- if @user
  %p You have selected:
  %h2= link_to @user.name, @user
  %p Or, select another user below.

%hr
= form_tag users_path, :method => :get do |f|
  = text_field :user, 'name'
  = submit_tag
